<div class="container layout-1">
    <div class="float-left">
        <h1>Hello, I'm Stephen</h1>
        <p>An aspiring Full Stack Developer.  
            A Computer Science student  from the University of Cebu that loves to work on innovations</p>
        <a href="#" class="white-btn">More about me</a>
    </div>
    <div class="float-right">
        <div class="imgs">
            <img src="https://media1.tenor.com/m/2g3sGKtJQloAAAAd/%D8%B4%D9%83%D8%B1%D9%8B%D8%A7-%D9%84%D9%83.gif" alt="">
            <img src="https://media1.tenor.com/m/8UntVSgyu6QAAAAd/gojo-satoru-satoru-gojo.gif" alt="">
        </div>
        <div class="why-tech">
            <h2>Why Tech?</h2>
            <p>I love building stuffs! I love how it feels when you have made something that can help lots of people. Like a superhero, I want to help people.</p>
        </div>
    </div>
</div>