.container {
  max-height: 100vh;
  width: 100%;
}

img {
  max-width: 60px;
}

p {
  font-size: 24px;
}

ul {
  display: flex;
  gap:7rem;
  padding: 20px;
  margin: 20px;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  position: relative;
}

ul:hover {
  img {
    max-width: 65px;
    transition: 0.5s ease-in-out;
  }
}

ul li img:hover {
  max-width: 80px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.scroll-icon {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.scroll-icon img {
  min-width: 45px;
}

.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
}

h1:hover {
  color: purple;
  transition: 0.3s ease-in-out;
}

.common-parent h1:hover ~ .scroll-icon p{
  color: white;
}

// #myVideo {
//   position: fixed;
//   right: 0;
//   bottom: 0;
//   min-width: 100%;
//   min-height: 100%;
//   z-index: -1;
//   opacity: 0; /* Hide video initially */
//   transition: opacity 0.6s ease-in-out;
// }

// #myVideo.video-active {
//   opacity: 1;
// }

.container h1 {
  font-size: 128px;
  font-weight: bold;
  justify-self: center;
  align-self: center;
  margin: 6rem 0 5rem 0;
  cursor: pointer; /* Optional: shows it's interactive */
}

.scroll-icon:hover {
  cursor: pointer;
  font-weight: 600;
  img {
    width: 12%;
    transition: 0.5s ease-in-out;
  }
}