.vh-100 {
    height: 100vh;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    border-top: solid 1px rgb(228, 227, 227);
}

.vh-100 .float-left {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.project-card {
    display: flex;
    background-color: white;
    width: 50%;
    height: 100%;
    
}

.vh-100 .float-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: end;
}

.cards {
    display: flex;
    height: 100%;
}

.main-card {
    background-color: black;
    height: 100%;
    color: white;
}

h1 {
    font-size: 96px;
    text-align: right;
    margin: 3rem 4rem 0 0;
}

a {
    border: solid 3px black;
    padding: 2rem;
    align-self: center;
    margin-bottom: 4rem;
    color: black;
    text-decoration: none;
    font-weight: 600;
    opacity: 0.7;
}

a:hover {
    opacity: 1;
    font-weight: 900;
    border: solid 5px black;
    cursor: pointer;
}


p {
    font-size: 52px;
    margin: 0 4rem;
    text-align: justify;
    text-indent: 6rem;
}

h2 {
    font-size: 72px;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 3rem 0 3rem;
}

.project-card a {
    display: flex;
    align-self: flex-end;
    background-color: white;
}

.main-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    height: 100%; /* Ensure it takes full height */
}

.main-card:hover {
    background-color: white;
    color: black;
    border-top: solid 2px black;
    border-right: solid 2px black;
    h2 {
        font-size: 128px;
    }
    a {
        display: none;
    }
}

.main-card h2, .main-card p {
    margin: 0;
    flex-grow: 1; /* Allows title and description to take up available space */
}

// .main-card a {
//     display: flex;
//     align-self: flex-end; /* Align the link to the left */
//     margin-top: auto; /* Push the link to the bottom */
//     padding: 1rem;
//     border: solid 3px black;
//     padding: 2rem;
//     color: black;
//     text-decoration: none;
//     font-weight: 600;
//     opacity: 0.7;
//     margin-bottom: 5rem;
//     background-color: white;
// }

// .main-card a:hover {
//     opacity: 1;
//     font-weight: 900;
//     border: solid 5px black;
//     cursor: pointer;
// }

#card-1 {
    background-color: white;
    color: black;
}

#card-1:hover {
    background-color: rgb(4, 56, 115);
    color: white;
    a:hover {
        background-color: white;
        color: rgb(4, 56, 115);
        border: solid 3px white;
    }
}

#card-2 { 
    border-left: solid 2px black;
    border-right: solid 2px black;
    border-top: solid 1px rgb(228, 227, 227);
}

#card-2 a{
    background-color: rgb(4, 56, 115, 0.5);
    color: white;
}

.float-right a:hover ~ a {
    color: white;
    background-color: black;
}