<div class="vh-100">
    <div class="float-left">
        <div class="cards">
            <div class="project-card" id="card-1">
                <h2>Basic HTML & CSS</h2>
                <a (click)='goToLink("https://lumban-stephen.github.io/phase-one/")'>View Project</a>
            </div>
            <div class="project-card" id="card-2">
                <h2>Coming Soon</h2>
                <a (click)='goToLink("")'>View Project</a>
            </div>
        </div>
        <div class="main-card">
            <h2>Project Highlights: Coming Soon</h2>
            <a (click)='goToLink("")'>View Project</a>
        </div>
    </div>
    <div class="float-right">
        <h1>My Works</h1>
        <p>As I continue on my path to become a Full Stack Developer, you can view the projects I have worked on, in this page.</p>
        <a (click)='goToLink("https://github.com/lumban-stephen")'>View Github</a>
    </div>
</div>