<div class="vh-30">
    <div class="uls">
        <ul>
            <li>Get in touch</li>
            <li><a href="#">lumbanstephen&#64;gmail.com</a></li>
            <li><a href="#">stephenlumban&#64;gmail.com</a></li>
        </ul>
        <ul>
            <li>Connect</li>
            <li><a href="#">Github</a></li>
            <li><a href="#">LinkedIn</a></li>
            <li><a href="#">Facebook</a></li>
        </ul>
        <ul>
            <li>Resources</li>
            <li><a href="#">Github</a></li>
            <li><a href="#">LinkedIn</a></li>
            <li><a href="#">Facebook</a></li>
        </ul>
        <ul>
            <li>Support</li>
            <li><a href="#">Github</a></li>
            <li><a href="#">LinkedIn</a></li>
            <li><a href="#">Facebook</a></li>
        </ul>
    </div>
    <div class="copy">
        <p>Copyright 2024</p>
        <p>Portfolio in Angular built by Stephen Lumban</p>
    </div>
</div>