<div class="vh-30">
    <div class="uls">
        <ul>
            <li>Get in touch</li>
            <li><a href="#">lumbanstephen&#64;gmail.com</a></li>
            <li><a href="#">stephenlumban&#64;gmail.com</a></li>
        </ul>
        <img src="../../../assets/images/whiteLogo.png" alt="logo">
        <ul>
            <li>Connect</li>
            <li><a href="#">Github</a></li>
            <li><a href="#">LinkedIn</a></li>
            <li><a href="#">Facebook</a></li>
        </ul>
    </div>
</div>